Flask
mysql-connector-python
Flask-SQLAlchemy
Flask-JWT-Extended
flask-swagger-ui
pytest
flask-cors
allure-pytest
behave
requests
werkzeug
faker
jsonschema
pika
logstash-formatter
gunicorn
flask-migrate
flask-script
flask-cors
allure-python-commons==2.13.5
behave==1.2.6
